:root {
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --bg: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --text1: hsl(228, 12%, 44%);
    --text2: hsl(230, 17%, 14%);
}