@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'source_sans_proregular';
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size:20px;
  }
  
/* Layout */
  
section {
  float: left;
  width: 50%;
  }
  
nav {
  float: right;
  width: 20%;
}
  
h1, nav {
  padding: 5px;
}
  
h1 {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  font-size: 2em;
  text-align:center;
}
h1, h2 {
  font-family:'source_sans_probold';
  letter-spacing:0.3px;
}
h2{
  font-size: 1.25em
}

/* links */
a:link{
  color: #6900ff;
}
a:visited{
  color: #a5c300;
}
a:focus {
  text-decoration: none;
  background: #bae498;
}
a:hover {
  text-decoration: none;
  background: #cdfeaa;
}
a:active {
  background: #6900ff;
  color: #cdfeaa;
}
a[href^="http"] {
  background: url("external-link-arrow.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
  padding-bottom: 30px;
}

/* nav stuff */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.sidebar a{
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: black;
}
.sidebar a:link, .sidebar a:visited, .sidebar a:focus {
  background: palegoldenrod;
  color: black;
}
.sidebar a:hover {
  background: orange;
}
.sidebar a:active{
  background: darkred;
  color: white;
}

