@use '../util' as *;
.toggle {
    display: grid;
    grid-template-columns: 1fr rem(60) 1fr;
    grid-template-rows: 1fr rem(24);
    gap: rem(4.8) rem(8);
    border: none;
    margin: 0;
    label {
        font-family: var(--font-bold);
        font-size: rem(14);
        align-self: center;
        &[for = 'dime'] {
            grid-column: 1 / 2;
            justify-self: end;
        }
        &[for = 'quiet-mode'] {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: start;
        }
        &[for = 'money'] {
            grid-column: 3 / 4;
        }
    }
    &__wrapper {
        position: relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: rem(24);
    }
    input[type ="radio"] {
        opacity: 0;
        margin: 0;
        width: rem(19);
        height: rem(19);
        margin-right: rem(-2);
        &:focus ~ .toggle__button {
            border: 2px solid whitesmoke;
        }
    }
    &__background {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        overflow: hidden;
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
        pointer-events: none;
    }
    &__button {
        position: absolute;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        background-color: var(--bg);
        border-radius: 50%;
        transition: all 100ms ease-in;
    }
    #money:checked ~ .toggle__button {
        left: calc(100% - 21px);
        right: 3px;
    }
    #quiet-mode:checked ~ .toggle__button {
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}